{% extends 'base.html.twig' %}

{% block body %}
  <!-- #main -->
    <div id="main" class="site-main">
        <!-- #primary -->
        <div id="primary" class="content-area">
            <!-- #content -->
            <div id="content" class="site-content" role="main">

                        test
            </div><!-- #content -->
        </div><!-- #primary -->
    </div><!-- #main -->
    <footer>

    </footer><!-- #co
</div> -->
{% endblock %}

{% block stylesheets %}
{{ parent() }}
{% endblock %}
