{% extends 'base.html.twig' %}

{% block body %}
<div id="page" class="hfeed site">

    <header id="sidemenu" class="site-header" role="navigation">

        <div class="first-level">
            <div class="top-nav">
                <a class="logo" href="#"><img src="https://momofuku.com/wp-content/themes/momofuku/img/momo-group.svg" alt="Logo"/></a>
                <div id="logo-section">
                    <div class="inner-logo">
                        <a class="logo-mobile" href="#">
                            <img src="https://momofuku.com/wp-content/themes/momofuku/img/logo-mobile.png" alt="Logo"/>
                        </a>
                    </div>
                </div>
                <div id="mobile-section">
                    <ul id="menu" class="menu">
                        <li id="menu-item-2396"
                            class="square resto menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-2396">
                            <a href="https://momofuku.com/our-restaurants/by-concept/"><span>Fidge</span>
                            </a>
                        </li>
                        <li id="menu-item-29"
                            class="square navigation menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-29">
                            <a href="https://momofuku.com/our-company/"><span>Recipes</span>
                            </a>
                        </li>
                        <li id="menu-item-16" class="square ventures menu-item menu-item-type-post_type menu-item-object-page menu-item-16">
                            <a href="https://momofuku.com/other-ventures/"><span>Shop</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div id="nav">
                <div class="middle-section">
                    <ul id="menu" class="menu">
                        <li id="menu-item-2396" class="square resto menu-item menu-item-type-custom menu-item-object-custom">
                            <a href="#"><span>Fidge</span>
                            </a>
                        </li>
                        <li id="menu-item-29" class="square resto menu-item menu-item-type-custom menu-item-object-custom">
                            <a href="#"><span>Recipes</span>
                            </a>
                        </li>
                        <li id="menu-item-16" class="square resto menu-item menu-item-type-custom menu-item-object-custom">
                            <a href="#"><span>Shop</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <!-- #main -->
    <div id="main" class="site-main">
        <!-- #primary -->
        <div id="primary" class="content-area">
            <!-- #content -->
            <div id="content" class="site-content" role="main">

                <section class="featured">
                    <div class="inner">
                        <a href="https://bit.ly/2JhACFs" target="_blank" class="item">
                            <div class="inner-item" data-image="https://momofuku-assets.s3.amazonaws.com/uploads/2018/06/T6A1000.jpg"
                                 style="background-image:url('https://momofuku-assets.s3.amazonaws.com/uploads/2018/06/T6A1000.jpg');">
                                <div class="overlay"></div>
                                <div class="info">
                                    <h1>KŌJIN</h1>
                                    <span class="icon-noodle"></span>
                                    <p>Now open on the third floor of Momofuku Toronto. </p>
                                </div>
                            </div>
                        </a>
                    </div>
                </section>


                <section class="articles">
                    <div class="inner">

                        test

                    </div>
                </section>
            </div><!-- #content -->
        </div><!-- #primary -->
    </div><!-- #main -->
    <footer>

    </footer><!-- #co
</div>
{% endblock %}

{% block stylesheets %}

{% endblock %}
