header#sidemenu {
    position: fixed;
    bottom: 0;
    width: 200px;
    height: 100vh;
    z-index: 9999;
    background-size: cover;
}
header#sidemenu:after {
    content: "";
    display: table;
    clear: both;
}

header#sidemenu div.first-level {
    overflow: hidden;
    border-right: 1px solid #d9d9d9;
    box-shadow: 0 0 16px -6px #000000;
    -webkit-box-shadow: 0 0 16px -6px #000000;
    -moz-box-shadow: 0 0 16px -6px #000000;
    width: 200px;
    min-height: 100vh;
    background-color: white;
    position: fixed;
    z-index: 102;
    left: 0;
    -webkit-overflow-scrolling: touch;
}

header#sidemenu div.first-level div.top-nav {
    position: relative;
    top: 0;
    width: 100%;
}

header#sidemenu div.first-level div.top-nav:after {
    content: "";
    display: table;
    clear: both;
}

header#sidemenu div.first-level div#nav {
    overflow: hidden;
    height: 0;
}

header#sidemenu div.first-level div#nav div.middle-section {
    background-color: white;
}

header#sidemenu div.first-level div#nav div.bottom-section {
    width: 100%;
    position: absolute;
    bottom: 0;
    margin-bottom: 25px;
    background-color: white;
}

/*@media only screen and (min-width: 768px){*/
    /*header#sidemenu div.first-level div.top-nav div#mobile-section {*/
        /*display: none;*/
    /*}*/
/*}*/

@media only screen and (max-width: 767px) {
    header#sidemenu div.first-level {
        width: 100%;
        border: none;
        box-shadow: 0 0 5px 0 #000000;
        -webkit-box-shadow: 0 0 5px 0 #000000;
        -moz-box-shadow: 0 0 5px 0 #000000;
        min-height: inherit;
        background-color: white;
        position: fixed;
        z-index: 102;
        left: 0;
        -webkit-overflow-scrolling: touch;
    }
}

header#sidemenu div.first-level {
    overflow: hidden;
    border-right: 1px solid #d9d9d9;
    box-shadow: 0 0 16px -6px #000000;
    -webkit-box-shadow: 0 0 16px -6px #000000;
    -moz-box-shadow: 0 0 16px -6px #000000;
    width: 200px;
    min-height: 100vh;
    background-color: white;
    position: fixed;
    z-index: 102;
    left: 0;
    -webkit-overflow-scrolling: touch;
}

header#sidemenu div.first-level div.top-nav div#mobile-section {
    position: relative;
    width: 64%;
    float: left;
}

header#sidemenu div.first-level div#nav div.middle-section ul.menu {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

header#sidemenu div.first-level div#nav div.middle-section ul.menu {
    border-top: 1px solid #d9d9d9;
}

header#sidemenu div.first-level div.middle-section > ul, header#sidemenu div.first-level div.bottom-section > ul {
    width: 100%;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul, menu, dir {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}

header#sidemenu div.first-level div.top-nav div#logo-section {
    display: inline-block;
    width: 18%;
    float: left;
    height: 66px;
    position: relative;
}

header#sidemenu div.first-level div.top-nav div#logo-section div.inner-logo {
    position: relative;
    height: 100%;
}

header#sidemenu div.first-level div.top-nav div#logo-section {
    display: inline-block;
    width: 18%;
    float: left;
    height: 66px;
    position: relative;
}

header#sidemenu div.first-level div#nav div.middle-section ul.menu li.square {
    border-bottom: 1px solid #d9d9d9;
}

header#sidemenu div.first-level div#nav div.middle-section ul.menu li {
    transition: all .25s;
}

header#sidemenu div.first-level div.middle-section > ul li, header#sidemenu div.first-level div.bottom-section > ul li {
    text-align: center;
}

header#sidemenu div.first-level div.middle-section > ul li a, header#sidemenu div.first-level div.bottom-section > ul li a, div.nav-section ul.sub-menu li a {
    font-family: "GraphikMedium", sans-serif;
    font-size: 12px;
    letter-spacing: 1px;
    transition: all .25s;
    color: black;
    text-transform: lowercase;
}

header#sidemenu div.first-level div.middle-section > ul li a, header#sidemenu div.first-level div.bottom-section > ul li a {
    position: relative;
    display: block;
    height: auto;
}

header#sidemenu div.first-level div.middle-section > ul li a span, header#sidemenu div.first-level div.bottom-section > ul li a span {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    position: relative;
    display: table;
    margin: 0 auto;
}
/*@media only screen and (min-width: 768px){*/
    /*header#sidemenu div.first-level div#nav div.middle-section ul.menu {*/
        /*position: absolute;*/
        /*top: 50%;*/
        /*transform: translateY(-50%);*/
        /*-ms-transform: translateY(-50%);*/
        /*-webkit-transform: translateY(-50%);*/
    /*}*/
/*}*/
header#sidemenu div.first-level div.middle-section > ul li a, header#sidemenu div.first-level div.bottom-section > ul li a, div.nav-section ul.sub-menu li a {
    font-family: "GraphikMedium", sans-serif;
    font-size: 12px;
    letter-spacing: 1px;
    transition: all .25s;
    color: black;
    text-transform: lowercase;
}

header#sidemenu div.first-level div.middle-section > ul li, header#sidemenu div.first-level div.bottom-section > ul li {
    text-align: center;
}

header#sidemenu div.first-level div#nav div.middle-section ul.menu li.square.resto a span::before {
    content: url(../img/svg/bol.svg);
    display: block;
    padding-bottom: 10px;
}

header#sidemenu div.first-level div.middle-section > ul li a, header#sidemenu div.first-level div.bottom-section > ul li a, div.nav-section ul.sub-menu li a {
    font-family: "GraphikMedium", sans-serif;
    font-size: 12px;
    letter-spacing: 1px;
    transition: all .25s;
    color: black;
    text-transform: lowercase;
}

header#sidemenu div.first-level div.middle-section > ul li a, header#sidemenu div.first-level div.bottom-section > ul li a {
    position: relative;
    display: block;
    height: auto;
}

header#sidemenu div.first-level div#nav div.middle-section ul.menu li.square a {
    height: 100px;
}

header#sidemenu div.first-level div.top-nav{
    position: relative;
    top: 0;
    width: 100%;
}

header#sidemenu div.first-level div.top-nav a.logo {
    display: table;
    margin: 25px auto;
}


header#sidemenu div.first-level div.top-nav div#mobile-section {
    display: none;
}
header#sidemenu div.first-level div.top-nav div#mobile-section {
    position: relative;
    width: 64%;
    float: left;
}
header#sidemenu div.first-level div.top-nav div#mobile-section {
    position: relative;
    width: 64%;
    float: left;
}

header#sidemenu div.first-level div.top-nav div#mobile-section ul.menu {
    border-left: 1px solid #d9d9d9;
    border-right: 1px solid #d9d9d9;
    width: 100%;
}

header#sidemenu div.first-level div.top-nav div#mobile-section ul.menu li.resto {
    width: 54%;
    border-right: 1px solid #d9d9d9;
}

header#sidemenu div.first-level div.top-nav div#mobile-section ul.menu li {
    position: relative;
    display: inline-block;
    float: left;
    text-align: center;
    transition: all .25s;
}

header#sidemenu div.first-level div.top-nav div#logo-section div.inner-logo{
    position: relative;
    height: 100%;
}

header#sidemenu div.first-level div.top-nav div#logo-section div.inner-logo a.logo-mobile {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    display: block;
    width: 100%;
}

header#sidemenu div.first-level div.top-nav div#logo-section {
    display: inline-block;
    width: 18%;
    float: left;
    height: 66px;
    position: relative;
}

/*@media only screen and (min-width: 768px) {*/
    /*header#sidemenu div.first-level div.top-nav div#logo-section div.inner-logo a.logo-mobile {*/
        /*display: none;*/
    /*}*/
/*}*/

header#sidemenu div.first-level div.top-nav div#logo-section div.inner-logo a.logo-mobile img {
    width: 30px;
    display: table;
    margin: 0 auto;
}

header#sidemenu div.first-level div#nav div.middle-section ul.menu {
    border-top: 1px solid #d9d9d9;
}

header#sidemenu div.first-level div.middle-section > ul, header#sidemenu div.first-level div.bottom-section > ul {
    width: 100%;
}

header#sidemenu div.first-level div.top-nav div#mobile-section ul.menu li a {
    font-family: "GraphikMedium", sans-serif;
    font-weight: 100;
    height: 66px;
    display: block;
    font-size: 14px;
    color: black;
    line-height: 66px;
}

header#sidemenu div.first-level div.top-nav:after {
    content: "";
    display: table;
    clear: both;
}

header#sidemenu div.first-level div.top-nav a.logo {
    display: table;
    margin: 25px auto;
}

@media only screen and (max-width: 767px) {
    header#sidemenu {
        background-color: transparent;
        width: 100%;
        top: 0;
        position: relative;
        height: auto;
    }
}

@media only screen and (max-width: 767px) {
    header#sidemenu div.second-level {
        display: none;
    }
}

header#sidemenu div.second-level {
    text-transform: lowercase;
    left: -120px;
    width: 320px;
    min-height: 100%;
    position: fixed;
    padding: 40px;
    background-image: url(../img/bg_submenu.jpg);
    background-repeat: repeat;
    z-index: 101;
}

div#main {
    margin-left: 200px;
}

div#content {
    position: relative;
}